
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

  .btn {
    @include button;
    transition: background-color 500ms;
  }
  
  .default {
    background-color: $tertiary-brand-color;

    &:hover {
      background-color: $tertiary-brand-light;
    }
  }
  
  .error {
    background-color: $error-color;

    &:hover {
      background-color: $error-color-light;
    }
  }
  
  .info {
    background-color: $info-color;

    &:hover {
      background-color: $info-color-light;
    }
  }
  
  .success {
    background-color: $success-color;

    &:hover {
      background-color: $success-color-light;
    }
  }
  
  .warning {
    background-color: $warning-color;

    &:hover {
      background-color: $warning-color-light;
    }
  }
  
  